.MenuButton {
  position: absolute;
  content: url(../../assets/three-dots.svg);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 16px;
  right: 18px;
  cursor: pointer;
  display: block;
}
