.Tabs {
  line-height: 70px;
  position: relative;
}

.TabsList {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.Tabs_mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .Tabs {
		display: block;
		font-size: 14px;
		text-align: center;
		border: none;
		position: relative;
		padding: 15px 0;
		width: 100%;
		background-color: #fff;
		line-height: 36px;
	}
	.TabsList {
	  position: absolute;
	  background-color: #fff;		
	}
}
