.Avatar {
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .Avatar {
    min-width: 69px;
    min-height: 69px;
    width: 69px;
    height: 69px;
    position: absolute;
    top: 0;
  }
}
@media screen and (min-width: 768px) {
  .Avatar {
    min-width: 141px;
    min-height: 141px;
    width: 141px;
    height: 141px;
    margin-right: 19px;
    flex: 0 0 141px;
  }
}
@media screen and (min-width: 1024px) {
  .Avatar {
    margin-right: 29px;
  }
}

.Avatar_img {
  max-width: 100%;
}
