.AvatarButton {
  display: none;
}
.AvatarButtonLabel {
  display: inline-block;
  position: relative;
  font: 700 11px/36px 'Montserrat', sans-serif;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #eeddfc;
  color: #8e15fa;
  cursor: pointer;
}
.AvatarButtonLabel::after {
  content: '';
  position: absolute;
  right: -18px;
  top: calc(50% - 2px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #eeddfc transparent transparent transparent;
}

.AvatarButton:checked {
  display: block;
}
